@page
@model Shop.UI.Pages.BusinessProfile.Exchanges.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<container>
    <h2>
        Thank you your query has been submited. A Customer Service Agent will be in touch shortly
    </h2>
</container>

