@page
@model Shop.UI.Pages.Contact.ConfirmationModel

<br />
<br />
<div class="container" id="app">
    <div>
        <h1 class="is-primary">Confirmation</h1>
        <p class="is-bold">
            Thank you your query has been submited. A Customer Service Agent will be in touch shortly
    </div>
</div>
<br />
<br />