@page
@model Shop.UI.Pages.Faq.IndexModel
@{
}

<style>
</style>
<div class="container section">
        <h2 style="font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0BDD6F;">FAQ's</h2><br />
        
        <p><strong>Q - Is there a delivery fee?</strong></p>
        <p><strong>A - </strong> For all orders over the value of R650.00 Ex VAT, we offer free nationwide delivery, for orders less than R650 Ex VAT, we charge a R60.00 courrier fee.</p>
        <br>
        <p><strong>Q - Do you deliver nationally?</strong></p>
        <p><strong>A - </strong> Yes, we deliver all accross SA, for remote areas, there will be an extended delivery lead time though.</p>
        <br>
        <p><strong>Q - Help, I lost my login details!</strong></p>
        <p><strong>A - </strong>No worries, simply call or email <a href="mailto:customerservice@officebox.co.za">customerservice@officebox.co.za</a> and one of our Relationship Managers will assist you with reconnecting to your account.</p>
        <br>
        <p><strong>Q - What is your BBB-EE certification?</strong></p>
        <p><strong>A - </strong> OfficeBox is currently a level 2 BBB-EE Contributor.</p>
        <br>
        <p><strong>Q - Do your prices include VAT?</strong></p>
        <p><strong>A - </strong> All prices displayed on the site are exclusive of VAT, at checkout stage, the VAT is calculated and displayed in your order summary.</p>
        <br>
        <p><strong>Q - Do you offer business account facilities?</strong></p>
        <p><strong>A - </strong>Yes, we offer a 30 day from date of satement account to businesses who apply for this facility.</p>

 </div>