@page
@model Shop.UI.Pages.Contact.IndexModel
@{
    ViewData["Title"] = "Online Ordering";
}

<div class="container section">
	
	<div class="columns">
				<div class="column is-7" data-aos="fade-left">
						<div class="column is-2">
							<div class="icon-Wrapper">
								<img src="/public/assets/images/Icon-Online.png" class="img-responsive">
							</div>
						</div>
						<div class="column is-10">
							<div class="subtitle">Easy, simple and intelligent</div>
							<div class="space"></div>
							<div class="title">online ordering</div>
							<div class="content3">
								Order lists, favourites, order history, authorizer function and more to make ordering as easy and seamless as possible
							</div>
							<div class="column is-4">
									<a href="/Shop" target="_blank"
									class="button navbar-item is-primary secondary"
									> Start Shopping</a>
							</div>
							<div class="spacer2"></div>
							<p class="content4">
							Traditionally companies tend to be prehistoric in how they order their stationery.
							There’s no need to make a phone call, type up an email or send a smoke signal and then wait for a quote to be sent to you…                                                   
							</p>
							<div class="spacer2"></div>
							<p class="content4">
							You create a basket, review your order and check out. It’s really that simple!
							Once you click submit, you can carry on with your day and have confidence that your order is being processed.                                                                                                    
							</p>
							<div class="spacer2"></div>
							<p class="content4">
							<span class="content3"> •	My Lists</span>
							You can create lists of your frequently ordered products. Simply add your required items for your next order straight from these lists.                                                                                                     
							</p>
							<div class="spacer2"></div>
							<p class="content4">
							<span class="content3"> •	Order Authorisation</span>
							You have the option to make use of our smart order authorisation functionality.
							Once an order has been requested by the person responsible for ordering your company’s office supplies, an email notification with a direct link to the pending order is sent to the designated authoriser to Approve, Edit or Decline.                                                
							</p>
							<div class="spacer2"></div>
							<p class="content4">
							<span class="content3"> •	Multiple Locations (Cost Centres)</span>
							Your account can be set up for orders to be placed on one platform for delivery to multiple locations/branches. You have two options, centralise your orders I.E.Order from your JHB head office and have deliveries sent to CPT and KZN.
							Or alternatively, decentralise your ordering with the branches ordering independently. All on one platform!                                                                                                                                                 
							</p>
							<div class="spacer2"></div>
							<p class="content4">
							<span class="content3"> •	Live Pricing 24/7</span>
							No more wasting time waiting for quotes. Simply go online and access prices for over 10 000 products in real time!                                                                                                     
							</p>
							<div class="spacer2"></div>
							<p class="content4">
								<span class="content3"> •	Order history</span>
							You have access at any time to your full order history, which helps you manage your spend. No more pulling invoices from the archives!                                                                                                     
							</p>
						</div>
					</div>
					<div class="column is-5" data-aos="fade-right">
							<div class="section-image-wraper">
								<img src="/public/assets/images/online.jpg" class="img-responsive devices-bg">
							</div>
					</div>
		</div>
	</div>
<style>
	.ao-preview {
		position: relative;
	}
	input.ao-toggle {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0;
		padding: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		z-index: 100;
		border: none;
		cursor: pointer;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.ao-annotations {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0;
		z-index: 5;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.ao-annotations span:nth-child(1) {
		top: 50%;
		left: 15%;
	}

.ao-annotations span {
    display: block;
    position: absolute;
    padding: 10px 25px;
    width: 33%;
    min-width: 140px;
    text-align: center;
    background: rgba(255,255,255,1);
    color: rgba(20,40,47,0.9);
    font-size: 16px;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
</style>
<!-- <div class="container">
	<form method="post" class="container">
			<div class="column is-4 is-offset-4">
				<div class="field">
					<label class="label">First Name</label>
					<div class="control">
						<input class="input"  />
					</div>
					<span class="help is-danger" ></span>
				</div>
				<div class="field">
					<label class="label">Last Name</label>
					<div class="control">
						<input class="input" />
					</div>
					<span class="help is-danger" ></span>
				</div>
				<div class="field">
					<label class="label">Email</label>
					<div class="control">
						<input class="input" />
					</div>
					<span class="help is-danger" ></span>
				</div>
				<div class="field">
					<label class="label">Password</label>
					<div class="control">
						<input class="input" />
					</div>
					<span class="help is-danger" ></span>
				</div>
				<div class="field">
					<label class="label">Confirm Password</label>
					<div class="control">
						<input class="input" />
					</div>
					<span class="help is-danger"></span>
				</div>
				<div class="columns">
					<div class="field column is-6">
						<button type="submit" class="button" style="background:#ee8534;color:#fff;width:100%">Sign Up</button>
					</div>
					<div class="column is-6" style="width:100%">
						<p style="font-size:14px">ALREADY REGISTERED?</p>
						<p style="color:#0bdd6f;font-size:14px;font-weight:300">SIGN IN</p>

					</div>
				</div>

			</div>
	</form> -->
