@page
@model Shop.UI.Pages.UserProfile.IndexModel
@{
}
@{
    Layout = "_Layout";
}

<style>
    .card {
        margin: 1px;
        height: 100%;
    }
        .card .card-header {
            background-color: #ee8534;
        }

            .card .card-header .card-header-title,
            .card .card-header .card-header-icon {
                color: #ffffff;
            }
</style>

<div class="container">
    @if (Model.WelcomeMessage)
    {
        <p class="title is-size-4 primary--text">Fantastic, your account is created.</p>
    }
    <p class="title secondary--text">My Account Dashboard</p>
    <div class="columns is-multiline">
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        My Account
                    </p>
                    <div class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-2x fa-user-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a asp-page="/Profile/MyDetails">My Details</a></li>
                            <li><a asp-page="/Profile/ChangePassword">Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Orders
                    </p>
                    <div class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-2x fa-clipboard-list" aria-hidden="true"></i>
                        </span>
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a asp-page="/Profile/OrderHistory">Order History</a></li>
                            <li><a asp-page="/Profile/Exchanges/Index">Exchanges & Returns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Favourites Lists
                    </p>
                    <div class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-2x fa-star" aria-hidden="true"></i>
                        </span>
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">
                        <partial name="Forms/_AddFavouriteList" model='new Shop.UI.Pages.AddFavouriteListModel() { ProfileView = "Profile" }' />
                        <ul>
                            <li><a asp-page="/Profile/FavouriteList/Index">My Lists</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
