@page
@model Shop.UI.Pages.BusinessProfile.ChangePasswordModel
@{
}


<div class="column is-8">
    @if (!String.IsNullOrEmpty(Model.Message))
    {
        <div class="notification is-success">
            <p>@Model.Message</p>
        </div>
    }
    <form method="post">
        <div class="field">
            <label class="label">Current Password</label>
            <div class="control">
                <input asp-for="Input.CurrentPassword" class="input" />
            </div>
            <span class="help is-danger" asp-validation-for="Input.CurrentPassword"></span>
        </div>
        <div class="field">
            <label class="label">New Password</label>
            <div class="control">
                <input asp-for="Input.NewPassword" class="input" />
            </div>
            <span class="help is-danger" asp-validation-for="Input.NewPassword"></span>
        </div>
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
                <input asp-for="Input.ConfirmPassword" class="input" />
            </div>
            <span class="help is-danger" asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <div class="field">
            <button class="button secondary">SAVE</button>
        </div>
    </form>
</div>