@page
@{
    ViewData["Title"] = "Terms And Conditions";
}

<div class="container section">

<div class="title">Terms and Conditions</div>

<br>
            <strong>1. &#8203;TERMS &#8203;AND &#8203;CONDITIONS</strong>
            <p>
                All &#8203;references &#8203;to &#8203;"OfficeBox", &#8203;"we", &#8203;"us" &#8203;and &#8203;"our" &#8203;in &#8203;these &#8203;terms &#8203;and &#8203;conditions &#8203;are &#8203;deemed &#8203;to &#8203;refer to
                &#8203;OfficeBox &#8203;(Pty) &#8203;Ltd, &#8203;a &#8203;company &#8203;registered &#8203;in &#8203;terms &#8203;of &#8203;the &#8203;Companies &#8203;Act &#8203;and &#8203;having &#8203;its &#8203;main
                &#8203;place of &#8203;business &#8203;at &#8203;364B, &#8203;Fairland &#8203;House, &#8203;Browning &#8203;Road, &#8203;Observatory, &#8203;7925, &#8203;Cape &#8203;Town, &#8203;South
                &#8203;Africa All &#8203;references &#8203;to &#8203;"you" &#8203;and &#8203;"your" &#8203;are &#8203;deemed &#8203;to &#8203;refer &#8203;to &#8203;any &#8203;user &#8203;and/or &#8203;visitor &#8203;of
                www.officebox..co.za &#8203;("Website"). These &#8203;terms &#8203;and &#8203;conditions &#8203;("Terms &#8203;and &#8203;Conditions") &#8203;govern &#8203;your
                &#8203;use &#8203;of &#8203;the &#8203;website.
            </p>
            <strong>2. &#8203;ACCEPTANCE &#8203;OF &#8203;TERMS</strong>
            <p>
                Permits &#8203;the &#8203;use &#8203;of &#8203;this &#8203;Website &#8203;subject &#8203;to &#8203;the &#8203;Terms &#8203;and &#8203;Conditions &#8203;("Terms &#8203;and &#8203;Conditions"). By &#8203;using &#8203;this
                &#8203;Website &#8203;in &#8203;any &#8203;way, &#8203;you &#8203;shall &#8203;be &#8203;deemed &#8203;to &#8203;have &#8203;accepted &#8203;all &#8203;the &#8203;Terms &#8203;and Conditions &#8203;unconditionally.
            </p>
            <strong>3. &#8203;USE &#8203;OF &#8203;THE &#8203;WEBSITE</strong>
            <p>
                You &#8203;may &#8203;only &#8203;use &#8203;the &#8203;Website &#8203;if &#8203;you &#8203;are &#8203;18 &#8203;years &#8203;of &#8203;age &#8203;or &#8203;older. You &#8203;may &#8203;not &#8203;copy, &#8203;reproduce, &#8203;modify,
                &#8203;distribute, &#8203;display, &#8203;publish, &#8203;print, &#8203;post &#8203;or &#8203;transmit &#8203;any &#8203;part &#8203;of the &#8203;Website &#8203;without &#8203;the &#8203;prior
                &#8203;written &#8203;consent &#8203;of &#8203;OfficeBox.
            </p>
            <strong>4. &#8203;OWNERSHIP &#8203;AND &#8203;COPYRIGHT</strong>
            <p>
                The &#8203;contents &#8203;of &#8203;this &#8203;Website, &#8203;including &#8203;any &#8203;information, &#8203;software, &#8203;icons, &#8203;text, &#8203;graphics, &#8203;lay-outs, images, &#8203;sound
                &#8203;clips, &#8203;trade &#8203;names, &#8203;logos, &#8203;trademarks &#8203;and &#8203;service &#8203;marks &#8203;are &#8203;protected &#8203;by &#8203;law, including &#8203;but
                &#8203;not &#8203;limited &#8203;to &#8203;copyright &#8203;and &#8203;trademark &#8203;law, &#8203;and &#8203;are &#8203;owned &#8203;by &#8203;or &#8203;licensed &#8203;to &#8203;OfficeBox. No
                &#8203;licence &#8203;to &#8203;or &#8203;right &#8203;in &#8203;any &#8203;of &#8203;such &#8203;contents &#8203;is &#8203;granted &#8203;to &#8203;or &#8203;conferred &#8203;upon &#8203;you. &#8203;Any &#8203;unauthorised
                use, &#8203;distribution &#8203;or &#8203;reproduction &#8203;of &#8203;the &#8203;said &#8203;contents &#8203;is &#8203;prohibited
            </p>
            <strong>5. &#8203;DISCLAIMER</strong>
            <p>
                OfficeBox &#8203;shall &#8203;in &#8203;no &#8203;event &#8203;be &#8203;responsible &#8203;and &#8203;disclaims &#8203;all &#8203;liability &#8203;for &#8203;any &#8203;loss, &#8203;liability, &#8203;damage (whether
                &#8203;direct, &#8203;indirect, &#8203;special &#8203;or &#8203;consequential) &#8203;or &#8203;expense &#8203;of &#8203;any &#8203;nature &#8203;whatsoever, &#8203;which &#8203;may be
                &#8203;suffered &#8203;as &#8203;a &#8203;result &#8203;of &#8203;or &#8203;which &#8203;may &#8203;be &#8203;attributable, &#8203;directly &#8203;or &#8203;indirectly, &#8203;to &#8203;the &#8203;use
                &#8203;of, &#8203;or reliance &#8203;upon &#8203;any &#8203;information, &#8203;links &#8203;or &#8203;service &#8203;provided &#8203;through &#8203;the &#8203;website, &#8203;or &#8203;any
                &#8203;actions &#8203;and/or liability &#8203;for &#8203;consequential &#8203;or &#8203;incidental &#8203;damages. Any &#8203;person &#8203;who &#8203;accesses &#8203;this
                &#8203;Website &#8203;or &#8203;relies &#8203;on &#8203;this &#8203;Website &#8203;or &#8203;on &#8203;the &#8203;information &#8203;contained &#8203;in this &#8203;Website &#8203;does &#8203;so
                &#8203;at &#8203;his &#8203;or &#8203;her &#8203;own &#8203;risk &#8203;and &#8203;hereby &#8203;indemnifies &#8203;OfficeBox &#8203;in &#8203;respect &#8203;of &#8203;any &#8203;loss, claim &#8203;or
                &#8203;damage &#8203;suffered &#8203;as &#8203;a &#8203;result &#8203;of &#8203;the &#8203;use &#8203;of &#8203;this &#8203;website. OfficeBox &#8203;will &#8203;not &#8203;be &#8203;responsible
                &#8203;for &#8203;any &#8203;interruption, &#8203;delayed &#8203;or &#8203;failed &#8203;transmission, &#8203;loss &#8203;of programs &#8203;or &#8203;other &#8203;data, &#8203;storage
                &#8203;or &#8203;delivery &#8203;of &#8203;information, &#8203;resulting &#8203;from &#8203;whatsoever &#8203;cause. All &#8203;the &#8203;information &#8203;appearing &#8203;on
                &#8203;the &#8203;website &#8203;is &#8203;provided &#8203;without &#8203;a &#8203;representation &#8203;or &#8203;warranty whatsoever, &#8203;whether &#8203;express &#8203;or &#8203;implied.
                &#8203;OfficeBox &#8203;does &#8203;not &#8203;accept &#8203;any &#8203;responsibility &#8203;for &#8203;any &#8203;errors or &#8203;omissions &#8203;on &#8203;this &#8203;Website. In
                &#8203;addition &#8203;to &#8203;the &#8203;disclaimers &#8203;contained &#8203;elsewhere &#8203;in &#8203;these &#8203;Terms &#8203;and &#8203;Conditions, &#8203;OfficeBox &#8203;also
                makes &#8203;no &#8203;warranty &#8203;or &#8203;representation, &#8203;whether &#8203;express &#8203;or &#8203;implied, &#8203;that &#8203;the &#8203;information &#8203;or &#8203;files
                available &#8203;on &#8203;this &#8203;Website &#8203;are &#8203;free &#8203;of &#8203;viruses, &#8203;spyware, &#8203;malware, &#8203;trojans, &#8203;destructive &#8203;materials
                &#8203;or &#8203;any other &#8203;data &#8203;or &#8203;code &#8203;which &#8203;is &#8203;able &#8203;to &#8203;corrupt, &#8203;destroy, &#8203;compromise &#8203;or &#8203;jeopardise &#8203;the
                &#8203;operation, stability, &#8203;security &#8203;functionality &#8203;or &#8203;content &#8203;of &#8203;your &#8203;computer &#8203;system, &#8203;computer &#8203;network,
                &#8203;hardware &#8203;or software &#8203;in &#8203;any &#8203;way
            </p>
            <strong>6. &#8203;THIRD &#8203;PARTY &#8203;WEBSITES</strong>
            <p>
                This &#8203;Website &#8203;may &#8203;contain &#8203;links &#8203;or &#8203;references &#8203;to &#8203;other &#8203;websites &#8203;("Third &#8203;Party &#8203;Websites") &#8203;outside &#8203;of our &#8203;control,
                &#8203;including &#8203;those &#8203;of &#8203;advertisers. These &#8203;Terms &#8203;and &#8203;Conditions &#8203;do &#8203;not &#8203;apply &#8203;to &#8203;those &#8203;Third &#8203;Party
                &#8203;Websites &#8203;and &#8203;the &#8203;Company &#8203;is &#8203;not responsible &#8203;for &#8203;the &#8203;practices &#8203;and/or &#8203;privacy &#8203;policies &#8203;of &#8203;those
                &#8203;Third &#8203;Party &#8203;Websites &#8203;or &#8203;the &#8203;cookies that &#8203;those &#8203;sites &#8203;may &#8203;use. Notwithstanding &#8203;the &#8203;fact &#8203;that
                &#8203;this &#8203;website &#8203;may &#8203;refer &#8203;to &#8203;or &#8203;provide &#8203;links &#8203;to &#8203;third &#8203;party &#8203;websites, &#8203;your use &#8203;of &#8203;such &#8203;Third
                &#8203;Party &#8203;Websites &#8203;is &#8203;entirely &#8203;at &#8203;your &#8203;own &#8203;risk &#8203;and &#8203;we &#8203;are &#8203;not &#8203;responsible &#8203;for &#8203;any &#8203;loss, expense,
                &#8203;claim &#8203;or &#8203;damage, &#8203;whether &#8203;direct, &#8203;indirect &#8203;or &#8203;consequential, &#8203;arising &#8203;from &#8203;your &#8203;use &#8203;of &#8203;such Third
                &#8203;Party &#8203;Websites &#8203;or &#8203;your &#8203;reliance &#8203;on &#8203;any &#8203;information &#8203;contained &#8203;thereon &#8203;and &#8203;you &#8203;hereby indemnify
                &#8203;OfficeBox &#8203;in &#8203;respect &#8203;of &#8203;any &#8203;loss, &#8203;claim &#8203;or &#8203;damage &#8203;suffered &#8203;as &#8203;a &#8203;result &#8203;of &#8203;the &#8203;use &#8203;of &#8203;such
                Third &#8203;Party &#8203;websites
            </p>

</div>
