@page
@model Shop.UI.Pages.Accounts.BusinessRegisteredModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />
<div id="app" class="container">
    <div class="has-text-centered field content">
        <p class="title primary--text">WELCOME TO OFFICEBOX!</p>
        <p class="subtitle">We'll be in touch with you shortly to get your account activated that will allow you to start shopping on your 30 day account.</p>
        <p class="subtitle">If you have an urgent order you can check-out via credit card or EFT while your 30 day account get's processed.</p>
        <p>Don't forget, FREE delivery for all orders over R650!</p>
    </div>
</div>