@page
@model Shop.UI.Pages.Accounts.ForgotPasswordConfirmationModel
@{
}


<div class="container">
    
    <div class="column is-6 is-offset-3" style="margin-top:40px;margin-bottom:40px">
        <h1 class="title">Reconnect to your account</h1>
        <section class="hero is-bold" style="margin-bottom:30px;background:#f4f9f5">
            <div class="column">
                    <div class="hero-body" style="padding: 1.5rem;">
                        <h2 class="subtitle">
                            Email Sent
                        </h2>
                        <p>
                            <strong class="content-bold">We've sent you an email containing a link to create a new password. </strong> If it doesn't arrive shortly, please check your spam filters or alternatively 
                            contact <a href="mailto:customerservice@officebox.co.za">customerservice@officebox.co.za</a>
                        </p>

                        <div class="column has-text-centered">
                                <a asp-page="/Accounts/Login">
                                    <button class="button is-link is-primary">Return to login</button>
                                </a>
                        </div>
                    </div>
            </div>
        </section>
        </div>
    </div>
</div>