@page
@model Shop.UI.Pages.Accounts.ForgotPasswordModel

<div class="container">
    <div class="column is-6 is-offset-3" style="margin-top:40px;margin-bottom:40px">
        <p class="title">Reconnect to Your Account</p>
        <form method="post">
            <div class="field">
                <div class="control">
                    <input class="input" asp-for="Input.Email" placeholder="PLEASE ENTER YOUR EMAIL ADDRESS HERE" />
                </div>
                <span class="help is-danger" asp-validation-for="Input.Email"></span>
            </div>
            <div class="field" style="margin:2rem 0">
                <div class="control">
                    <p><button class="button is-primary">SEND RESET LINK</button></p>
                </div>
            </div>
        </form>
    </div>

    <section class="hero is-bold" style="margin-bottom:30px;background:#f4f9f5">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="subtitle is-5">Don't have a Profile or Account? <span class="title" style="font-weight:bold">Create an Account</span> now.</p>
                <p style="font-weight:200;color:lightslategrey" class="subtitle is-4">Individual or a Business? We take care of your needs.</p>
                <a asp-page="/Accounts/Index" class="button is-primary">Create</a>
            </div>
        </div>
    </section>
</div>
