@page
@model Shop.UI.Pages.Accounts.ResetPasswordModel
@{
}
<div class="column is-4 is-offset-4">
    <form method="post">
        <input type="hidden" asp-for="Input.Code" />

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                @if (Model.Input.EmailPrepopulated)
                {
                    <input class="input" asp-for="Input.Email" readonly />
                }
                else
                {
                    <input class="input" asp-for="Input.Email" />
                }
            </div>
            <span class="help is-danger" asp-validation-for="Input.Email"></span>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" asp-for="Input.Password" />
            </div>
            <span class="help is-danger" asp-validation-for="Input.Password"></span>
        </div>
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
                <input class="input" asp-for="Input.ConfirmPassword" />
            </div>
            <span class="help is-danger" asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <button class="button secondary">Reset Password</button>
    </form>
</div>
