@page
@model Shop.UI.Pages.Accounts.ResetConfirmationModel
<div class="column is-4 is-offset-4">
    <h1 class="title primary" style="color: #FFF !important; padding-left: 15px;">Password Reset</h1>
</div>
