<section class="hero is-bold">
    <div class="hero-body" style="margin:0px">
        <div class="container">
            <div class="main-header"><p class="title has-text-centered">What kind of <span class="primary--text has-text-weight-bold">ACCOUNT</span> do you need?</p></div>
            <div class="columns">
                <div class="column is-1 img-fluid"><img src="/public/assets/images/profileIcon@1x.png" style="width:80px;height:80px;"></div>
                <div class="column is-4" style="">
                    <div class="field">
                        <p class="title primary--text">INDIVIDUAL</p>
                        <br /><h5 style="color: #adb5b8;text-align: left;font-size: 14pt;margin-right:25px;">Checkout using Credit Card or EFT. Quick & Easy!</h5>
                    </div>
                    <div class="field">
                        <a class="button secondary" asp-controller="Accounts" asp-action="GuestUserRegister">Create Profile</a>
                    </div>
                </div>
                <div class="vl column is-1"></div>
                <div class="column is-1 img-fluid"><img src="/public/assets/images/suitcaseIcon@1x.png" style="width:80px;height:80px; margin-left:-12px;"></div>
                <div class="column is-4">
                    <div class="field">
                        <p class="title primary--text">BUSINESS</p>
                        <br /> <h5 style="color: #adb5b8;text-align: left;font-size: 14pt;margin-right:25px;">30 day terms available to businesses, or simply pay online</h5>
                    </div>
                    <div class="field">
                        <a class="button secondary" asp-controller="Accounts" asp-action="GuestBusinessTermRegister">Request 30 Day Terms</a>
                        <a class="button secondary" asp-controller="Accounts" asp-action="GuestBusinessRegister">Pay Online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
