@model Shop.UI.Pages.Accounts.LoginViewModel

<div class="container">
    <form method="post" asp-page="/Accounts/Login" style="margin-top:40px;margin-bottom:20px">
        <div class="column is-4 is-offset-4">
            <p style="color: #0BDD6F" class="title">Sign In</p>
            <input type="hidden" asp-for="RedirectToPayment" value="true" />
            <div asp-validation-summary="All"></div>
            <div class="field">
                <div class="control has-icons-left has-icon-right">
                    <input class="input is-success" type="email" placeholder="EMAIL ADDRESS" asp-for="Username" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-success" type="password" placeholder="PASSWORD" asp-for="Password" />
                </div>
                <span asp-validation-for="Password"></span>
            </div>
            <label class="checkbox" style="font-weight:bolder;margin-bottom:10px;margin-top:10px">
                <input type="checkbox">
                Remember me
            </label>
            <div class="field">
                <div class="columns">
                    <div class="column is-6">
                        <button type="submit" class="button is-marginless is-block  is-primary">Sign In</button>
                    </div>
                    <div class="column is-6">
                        <a class="button is-block is-text" style="text-decoration:none">Forgot <span style="color:#0BDD6F;font-weight:bolder;">Password?</span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
