@page
@model Shop.UI.Pages.Admin.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}
<p class="title secondary--text">Add, Update categories</p>
<br />
<div class="container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Main Category Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mainCat in Model.MainCategories)
            {
            <tr>
                <td> @mainCat.Name</td>  
                <td>
                    <a class="button is-block primary" style="color: #000000;" asp-page="/Admin/CategoryEdit" asp-route-locationid="@mainCat.Id">EDIT</a>
                </td>
            </tr>
            }
        </tbody>
    </table>


</div>




