@page
@model Shop.UI.Pages.Admin.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<link type="text/css" rel="stylesheet" href="~/lib/DataTables/css/jquery.dataTables.min.css" />

<style type="text/css">
    #DataTable_processing {
        background-color: #23d160;
        z-index: 100;
        height: 65px;
    }
</style>

<table id="DataTable" class="display" style="width:100%" data-request-url="@Url.Action("GetData", "DataTable", new { dataSource = "Orders" })">
    <thead>
        <tr>
            <th data-name="Id" data-data="id">Id</th>
            <th data-name="Created" data-data="created">Created Date</th>
            <th data-name="OrderNumber" data-data="orderNumber">Order #</th>
            <th data-name="User" data-data="user">Created By</th>
            <th data-name="Location" data-data="location">Location</th>
            <th data-name="Total" data-data="total">Order Total</th>
            <th data-searchable="false" data-orderable="false" data-name="Cin7Id" data-data="cin7Id">Cin7 ID</th>
            <th data-searchable="false" data-orderable="false" data-name="Action" data-data="action"></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th data-name="Id" data-data="id">Id</th>
            <th data-name="Created" data-data="created">Created Date</th>
            <th data-name="OrderNumber" data-data="orderNumber">Order #</th>
            <th data-name="User" data-data="user">Created By</th>
            <th data-name="Location" data-data="location">Location</th>
            <th data-name="Total" data-data="total">Order Total</th>
            <th data-searchable="false" data-orderable="false" data-name="Cin7Id" data-data="cin7Id">Cin7 ID</th>
            <th data-searchable="false" data-orderable="false" data-name="Action" data-data="action"></th>
        </tr>
    </tfoot>
</table>

@section scripts {
    <script src="/public/assets/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/admin/dataTableInit.js"></script>
}