@page
@model Shop.UI.Pages.Privacy.IndexModel
@{
    ViewData["Title"] = "Contact";
}
<style>
    .label {
        font-size 14px;
        color: #858585;
        margin-left: 20px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .input {
        width: 100%;
    }
</style>

<div class="container section">
    <div class="columns">
        <div class="column is-6" data-aos="fade-left">
            <div class="column is-2">
                <div class="icon-Wrapper">
                    <img src="/public/assets/images/RM-icon.jpg" class="img-responsive">
                </div>
            </div>
            <div class="column is-10 ">
                <div class="subtitle">Your own dedicated</div>
                <div class="title has-text-weight-semibold">relationship Manager</div>
                <div class="content3">
                    Every OfficeBox customer has their own personal relationship manager to assist whenever needed.
                </div>
                <div class="spacer2"></div>
                <a href="/store" target="_blank">   <button class="button is-primary">Start Shopping</button></a>
                <div class="spacer2"></div>
                <p class="content3 has-text-weight-normal">
                    So we know our online store is smart, but believe it or not, our humans looking after our customer aren’t far behind!
                </p>
                <div class="spacer2"></div>
                <p class="content3 has-text-weight-normal">
                    When you open a business account with OfficeBox, we will assign a personal relationship manager to your account.
                </p>
                <div class="spacer2"></div>
                <p class="content3 has-text-weight-normal">
                    So if you ever need to increase your credit limit, follow up on your order or simply want help finding a particular brand of pen for the boss, you will have someone to assist you, always!
                </p>
                <div class="spacer2"></div>
            </div>
        </div>
        <div class="column is-6" data-aos="fade-right">
            <img src="/public/assets/images/relationship-manager.jpg" class="img-responsive">
        </div>
    </div>
</div>