@page
@model Shop.UI.Pages.BBBEEModel
@{
    ViewData["Title"] = "BBBEE";
}

<div class="container">
    <div>
        @*<embed src="~/contract.pdf#navpanes=0&scrollbar=0" width="100%" height="800px">*@
        <embed src="~/public/assets/pdf/Officebox_QSE2019-2020.pdf#navpanes=0&scrollbar=0" width="100%" height="800px">
    </div>
</div>

